* {
    box-sizing: border-box;
}

div {
    position: absolute;
    width: 50vw;
    height: 80vh;
    inset: 0;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.15), 0 -10px 20px -5px rgba(0,0,0,0.3) inset, 1px 2px 1px rgba(255,255,255,0.5) inset, 0 150px 100px -80px rgba(0,0,0,0.4);
    animation: reveal 4s linear( 0, 0.001, 0.005 1.1%, 0.02, 0.045 3.5%, 0.081 5%, 0.16 7.5%, 0.365 13.5%, 0.464 16.5%, 0.559, 0.64, 0.71 26.2%, 0.742, 0.771, 0.797, 0.822, 0.844, 0.865 36.9%, 0.885, 0.903, 0.919 43.7%, 0.933, 0.945, 0.956 51.7%, 0.966 54.7%, 0.973, 0.98 61.3%, 0.985 65%, 0.993 73.6%, 0.997 84.5%, 0.999 );
    transform: translateY(0px) rotateY(20deg) scale(1);
    transition: all .3s ease;
    margin-right: 80px;
}

    div:hover {
        transform: translateY(0px) rotateY(-20deg) scale(1);
    }




span {
    display: block;
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    --offset: 20%;
    --brightness: 105%;
    border-radius: 40px;
    backdrop-filter: blur(var(--blur)) brightness(var(--brightness));
    -webkit-backdrop-filter: blur(var(--blur)) brightness(var(--brightness));
    -webkit-mask-image: linear-gradient(to right, black calc(var(--x) - var(--offset)), transparent calc(var(--x) + var(--offset)));
}

    span:nth-of-type(1) {
        --blur: 128px;
        --x: 12.5%;
    }

    span:nth-of-type(2) {
        --blur: 64px;
        --x: 25%;
    }

    span:nth-of-type(3) {
        --blur: 32px;
        --x: 37.5%;
    }

    span:nth-of-type(4) {
        --blur: 16px;
        --x: 50%;
    }

    span:nth-of-type(5) {
        --blur: 8px;
        --x: 62.5%;
    }

    span:nth-of-type(6) {
        --blur: 4px;
        --x: 75%;
    }

    span:nth-of-type(7) {
        --blur: 2px;
        --x: 87.5%;
    }

    span:nth-of-type(8) {
        --blur: 2px;
        --x: 120%;
    }

@keyframes reveal {
    from {
        transform: translateY(50px) rotateX(30deg) scale(0.9);
    }

    to {
        transform: translateY(0px) rotateY(20deg) scale(1);
    }
}

.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-image: url('https://avatanplus.com/files/resources/mid/5a68a13c2b2fc16128b5d311.jpg');
    overflow-y: scroll;
}

.image {
    max-width: 100%;
    height: auto;
    pointer-events: none;
    margin-right: 50px;
}

.image {
    width: 200px;
    height: 150px;
}


#text-box {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    background-color: transparent;
    color: black;
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.card {
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: inherit;
    width: 300px;
    right: 190px;
    color: peachpuff;
}
